body{
    height:8vh;
    background-color:black;
    border-top: 2px ;
    border-bottom: 2px ;
    border-color: grey;
    border-style: solid;
    vertical-align: middle;
    font-weight: bolder;
    color: white;
  }
  
  

  