<div class="flex-container">
    <div style="margin-top:5%;margin-bottom:5%; margin-right: 10%; margin-left: 10%; width:100%; height: auto; padding:50px; text-align: left; ">
       <h1 style="text-align: center;">Udhaari Saaf</h1>
       <h2 style="text-align: center;">Comprehensive Exam Assignment</h2>
        <p>This Project is being made with in the span of 24 Hours 
            as a Assignment for Multi-Device Programming. Used the 
            concepts of Angular Routing to build the Application.
            At a time budget of single event can be calcuated. To store 
            the event details(user data) futher knowledge of Database 
            Connectivity Required.
        </p>
        <hr>
        <h3 style="font-weight:bolder">Techologies / Languages Used:</h3>
        <ul>
            <li>HTML5
            <li>CSS
            <li>TypeScript
            <li>Angular
        </ul>
        <hr>

        <h3 style="font-weight:bolder">Made By :-</h3>
        <ul>
             <li>Piyush Katoch
             <li>BT17GCS076
        </ul>
    </div>
</div>


