<body >
    <div class="navbar">  
      <div class="logo" > 
        <a routerLink="/passbook"> 
         <img class="float_left" src="../../assets/images/wallpapers/5.jpg" width="175" height="175" style="border-radius: 25%; border-style: solid;"> 
       </a>
      </div>
      <nav>
        <li>
          <a routerLink="/passbook" >Split
            <span class="link-space">
                 <span class="fare">Split</span>
                 <span class="back">Split</span>
            </span>
          </a>
        </li>
        <li>
            <a routerLink="/plan" >Plan Event
              <span class="link-space">
                   <span class="fare">Plan Event</span>
                   <span class="back">Plan Event</span>
              </span>
            </a>
          </li>
        <li>
            <a routerLink="/about" >About
              <span class="link-space">
                   <span class="fare">About</span>
                   <span class="back">About</span>
              </span>
            </a>
        </li>
          
     </nav>
     <h1 class="heading">{{route}}</h1>
    </div>
  </body>
